<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Profil</title>
</head>
<body>
    <%if flash[:error]%>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error]%>
  </div>
  <%elsif flash[:success]%>
  <div class="alert alert-success" role="alert">
    <%= flash[:success]%>
  </div>
  <%end%>
  <main>
    <section>
      <div>
        <h1> Ton profil</h1>
        <h2> <%=@user.first_name%> <%=@user.last_name%> </h2>
        <p class=margin_bottom> <%=@user.description%></p>
        <div class="btn btn_primary"><%= link_to "Modifier ses identifiants", edit_user_registration_path %></div>
        <div class="btn btn_primary"><%= link_to "Modifier son profil", edit_user_path %></div>
      </div>
      </div>  
      <h1> Tes événements</h1>
         <div class=cards>
            <%@user.events.each do |event|%>
            <div class="card color_card" style="width: 18rem;">
                <div class="card-body">
                  <h2 class=color_font><%= event.title%></h2>
                  <div class="inline margin_bottom">
                    <div class=infos_accueil>
                      <i class="bi bi-geo-alt-fill small_icone"></i> <%= event.location%>
                    </div>
                    <div class=infos_accueil>
                      <i class="bi bi-calendar-event small_icone"></i> <%= event.start_date.strftime('%d'"/"'%m')%>
                    </div>
                  </div>
                  <p><%= event.description%></p>
                    <div class="inline space_between price_plus">
                      <div class=price>
                        <%= event.price%>€
                      </div>
                      <div>
                      <a href="/events/<%= event.id%>" class="btn btn-primary plus_icone"><i class="bi bi-plus"></i></a>
                      </div>
                    </div>
                </div>
            </div>
            <%end%>
    </section>
  </main>
</body>
</html>

