<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Créer un événement</title>
</head>
<body>
  <main>
    <section class="section_center">
      <%if flash[:error]%>
        <div class="alert alert-danger" role="alert">
            <%= flash[:error]%>
        </div>
        <%elsif flash[:success]%>
        <div class="alert alert-success" role="alert">
            <%= flash[:success]%>
        </div>
      <%end%>
     <h1> Créer un événement </h1>
        <%= form_tag url_for(controller: "events", action: "create"), method: "post" do%>
            <div class= "form_inscription forms_gap">
              <div>
                <%= label_tag :title, "Titre"%>
                <%= text_field_tag :title, nil, class:"form-control"%>
              </div>
              <div>
                <%= label_tag :description, "Description"%>
                <%= text_area_tag :description, nil, class:"form-control description"%>
              </div>
              <div class=inline>
                <div>
                  <%= label_tag :location, "Lieu"%>
                  <%= text_field_tag :location, nil, class:"form-control"%>
                </div>
                <div>
                  <%= label_tag :price, "Prix"%>
                  <%= number_field_tag :price, nil, class:"form-control"%>
                </div>
              </div>
              <div class=inline>
                <div>
                  <%= label_tag :start_date, "Date de début"%>
                  <%= datetime_field_tag :start_date, nil, class:"form-control"%>
                </div>
                <div>
                  <%= label_tag :duration, "Durée en minute"%>
                  <%= number_field_tag :duration, nil, class:"form-control"%>
                </div>
              </div>
                  <%= submit_tag "Valider", class:'btn btn_inscription btn_primary'%>
            </div>
        <%end%>
    </section>
  </main>
</body>
</html>