<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Événement</title>
</head>
<body>
  <main>
    <section>
      <%if flash[:error]%>
        <div class="alert alert-danger" role="alert">
            <%= flash[:error]%>
        </div>
        <%elsif flash[:success]%>
        <div class="alert alert-success" role="alert">
            <%= flash[:success]%>
        </div>
      <%end%>
      <div>
        <h1> Événement  </h1>
      </div>  
        <div>
          <h2 class=event_title><%= @event.title%></h2>
          <p class="citation"> Crée par <%= @event.user.first_name%> <%= @event.user.last_name%></p>
          <div class="inline margin_bottom">
            <div class=infos_accueil>
              <i class="bi bi-geo-alt-fill small_icone"></i> <%= @event.location%>
            </div>
            <div class=infos_accueil>
              <i class="bi bi-calendar-event small_icone"></i> <%= @event.start_date.strftime('%d'"/"'%m'" à ""%H""h")%>
            </div>
            <div class=infos_accueil>
              <i class="bi bi-clock-fill small_icone"></i> <%= @event.duration%> min
            </div>
          </div>
          <p class=margin_bottom><%= @event.description%></p>
          <div class=inline>
            <%=button_to "Réserver une place", checkout_create_path(total:@event.price, event_id: @event.id), class: "btn btn-primary btn_primary", data: {turbo: false}%>
            <%if current_user?(@event)%>
              <a href="/events/<%=@event.id%>/attendances" class="btn btn-primary btn_primary">Voir les participants</a>
            <%end%>
          </div>
    </section>
  </main>
</body>
</html>
