<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Événement</title>
</head>
<body>
  <main>
    <section>
      <div>
        <h1> Événement  </h1>
      </div>  
        <div>
          <h2><%= @event.title%></h2>
          <p><%= @event.description%></p>
          <p><%= @event.location%>
          <div>
            <%= @event.duration%>
            <%= @event.start_date%>
          </div>
          <div>
          <p> Crée par <%= @event.user.first_name%> <%= @event.user.last_name%></p>
        </div>

        <a href="/events" class="btn btn-primary">Retournez aux événements</a>
    </section>
  </main>
</body>
</html>
