<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Participants de l'événement</title>
</head>
<body>
  <main>
    <%= render 'layouts/flash' %>
    <section class="hero_section">
      <div >
        <h1 class=white> Participants de l'événement </h1>
        <div class="btn btn_primary"><%= link_to "Modifier l'événement", edit_event_path(@event.id)%></div>
      </div> 
    </section>
    <section>
      <div class=price>
        <%= @event.users.count%>
      </div>
      <div class="participants">
        <div class=card_profil>
          <div class="inline_profil">
              <%if @event.users.count != 0%>
                <%@event.users.each do |user|%>
                <div class="profil_image"></div>
                  <p class=color_font_profil><%= user.first_name%> <%= user.last_name%></p>
                <%end%>
              <%elsif @event.users.count == 0%>
                <p>Il n'y a pas de participant pour le moment.</p>
              <%end%>
            </div>
          </div>
      </div>
      <div class="btn btn_primary"><%= link_to "Retour", event_path(@event.id)%></div>   
    </section>
  </main>
</body>
</html>
